body{
    overflow-y:scroll;
    background-image: url(https://wallpapercave.com/wp/wp2939993.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
  margin-top: -48px;

}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: red;
}